html, body {
  background-size: cover;
  height: 100%;
  font-family: 'Numans', sans-serif;
  background-color: lightgray;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  /*background-image: url('/src/assets/images/168419.jpg');*/
}


.subContainer {
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
}


.alert {
  margin-top: 15%;
}

.frgPass {
  margin-top: 25%;
  text-align: center;
}
input {
  outline: 0;
  border-width: 0 0 2px;
  border-color: lightgray;
}
input:focus {
  border-color: lightgreen;
}
