/*
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  !*background-image: url('/src/assets/images/168419.jpg');*!

}*/
.card {
  height: 450px;
  width: 400px;
  background-color: rgba(255, 255, 255, 0.5);
  /* opacity: 0.5;*/
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
 /* margin:auto;*/
  border:none;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
}

.subContainer {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 10%;
}
.btnclass {
  float: left;
  color: white;
  background-color: mediumseagreen;
  width: 100px;
}

.btn:hover {
  color: black;
  background-color: white;
}

.alert {
  margin-top: 15%;
}

.frgPass {
  margin-top: 25%;
  text-align: center;
}
input {
  outline: 0;
  border-width: 0 0 2px;
  border-color: lightgray;
}
input:focus {
  border-color: green;
}
